// ===========================================
// Main SCSS Entry Point
// ===========================================

// 1. Abstract - Variables, mixins, functions (không tạo CSS)
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
